


    <!-- Page Header Start -->
   <!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/carousel-bg-2.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Code of Conduct</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#" class="text-primary">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-primary">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Code of Conduct</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<div class="container-xxl service py-5">
    <div class="container">
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-12">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-12">
                                <p class="text-secondary mb-4">
                                    Open Library Consortium (OLC) is a welcoming, supportive, kind community of scholars and practitioners who strengthen each other’s work through participation in events & dialogue. OLC’s Code of Conduct is intended to encourage positive interactions between community members and protect against harassment and abusive behavior. The Code is not intended to shut down uncomfortable but important conversations, but instead to create community spaces that support constructive feedback and growth. The Code is updated regularly, so we ask that you please read it carefully. At any time you are welcome to contact an OLC staff member or a member of the OLC Board with any questions or concerns. Thank you for your participation in our community!
                                </p>

                                <h3 class="text-primary mb-3">Scope</h3>
                                <p class="text-secondary">This code of conduct applies to all forms of participation in the Open Library Consortium (OLC) community, including, but not limited to:</p>
                                <ul class="text-secondary">
                                    <li>Participation as a member, officer, or community guest in OLC committees, the OLC Board, and any other officially sanctioned or created governance or task groups</li>
                                    <li>Participation in OLC-sponsored social media discussion or other online discussion spaces (such as a conference hashtag)</li>
                                </ul>

                                <h3 class="text-primary mb-3">Recording/Social Media Policy</h3>
                                <p class="text-secondary">Please be thoughtful and respectful with your photographs, recording, and sharing on social media.</p>
                                <p class="text-secondary">While we encourage in-person dialogue during OLC events, we also encourage participants to engage with social media as a way to enrich their own experience and to engage with other attendees and with those who may not be able to attend.</p>
                                <p class="text-secondary">Members, guests, and those using event hashtags are expected to comply with applicable social media platform policies, including those on harassment and abuse. Violations of these policies will also be reported via the appropriate channels.</p>

                                <h3 class="text-primary mb-3">Health Guidelines Policy</h3>
                                <p class="text-secondary">To ensure our in-person OLC events are safe and welcoming for all members of our community, we may institute event-specific health guidelines, such as requirements for face-coverings or social distancing. We expect all attendees to adhere to these guidelines while attending events, along with any relevant local and national health guidance in effect at the time. Violations of the health guidelines policy will be addressed as a violation of the standards of conduct.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

    <!-- Service End -->


   