

<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">DISTRICT</h5>
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="submit()">

              <div class="mb-3">
                <label for="examplestate" class="form-label">Choose State</label>
                <select name="text" id="" name="stateid" [(ngModel)]="district.stateid" class="form-control"
                  placeholder="Statenamename">
                  <option value="">-- Select State --</option>
                  <option *ngFor="let data of state" [value]="data.stateid">{{data.statename}}</option>
                </select>
                <div class="select-dropdown"></div>
              </div>
              <div class="mb-3">
                <label for="exampleInputdistrict" class="form-label">Enter District</label>
                <input type="text" name="districtname" [(ngModel)]="district.districtname" id="form2Example1"
                  class="form-control" placeholder="district" />
              </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
