
<div class="col-lg-8 d-flex align-items-stretch"></div>
<div class="card w-100">
    <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Events</h5>
        <a [routerLink]="['/adminmaster/events']"><button class="btn btn-primary">Add New +</button></a><br><br>

        <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">slno</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Event name</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Event date</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Event time</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">State</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">District</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Event place</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0"> Event description</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0"> Event type</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0"> Brochure</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Actions</h6>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of eventsdata; let i = index">

                        <td class="border-bottom-0">
                            {{i + 1}}
                            <h6 class="fw-semibold mb-1"></h6>
                        </td>

                        <td class="border-bottom-0">
                            {{data.eventname}}
                            <p class="mb-0 fw-normal"></p>
                        </td>
                        <td class="border-bottom-0">
                            {{data.eventdate}}
                            <p class="mb-0 fw-normal"></p>
                        </td>
                        <td class="border-bottom-0">
                            {{data.eventtime}}
                            <p class="mb-0 fw-normal"></p>
                        </td>
                        <td class="border-bottom-0">
                            {{data.state.statename}}
                            <p class="mb-0 fw-normal"></p>
                        </td>

                        <td class="border-bottom-0">
                            {{data.district.districtname}}
                            <p class="mb-0 fw-normal"></p>
                        </td>

                        <td class="border-bottom-0">
                            {{data.eventplace}}
                            <p class="mb-0 fw-normal"></p>
                        </td>

                        <td class="border-bottom-0">
                            {{data.eventdescription}}
                            <p class="mb-0 fw-normal"></p>
                        </td>
                        <td class="border-bottom-0">
                            {{data.eventtype.eventtypename}}
                            <p class="mb-0 fw-normal"></p>
                        </td>

                        <td class="border-bottom-0">
                            <img src="http://127.0.0.1:8000{{data.eventbrochure}}" alt="image" width="100" height="100">
                            <p class="mb-0 fw-normal"></p>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="delete(data.id)"
                                data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                            &nbsp;
                            <button class="btn btn-success btn-sm rounded-0" type="button" (click)="edit(data.id)"
                                title="Edit">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
