

<div class="container-fluid"></div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Bylaws</h5>
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="submit()" enctype="multipart/form-data"> 
              <div class="mb-3">
                <label for="exampleInputdistrict" class="form-label">Description</label>
                <input type="text" name="description" [(ngModel)]="bylaw.description"   id="form2Example1" class="form-control" placeholder="description" />
              </div>
              <div class="mb-3">
                <label for="exampleInputdistrict" class="form-label">Choose Image</label>
                <input type="file" name="image" (change)="onFileSelected($event)"    id="form2Example1" class="form-control"  />
              </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




